{{#each posts as |post| }}
<section class="container mt-2 d-flex flex-wrap justify-content-center" >
        <div class="card w-50 mb-1" >
                    <h4 class="card-header align-items-center d-flex justify-content-between">
                    {{post.user.user_name}} posted:
                    <div>
                        <img src="/assets/images/Beep-Post.jpg" width="55px">
                    </div>
                    </h4>
            <div class="card-body">
                    <h5 class="card-title">{{post_title}}</h5>
                    <h6 class="card-text mt-1">{{post.post}}</h6>
                <div class="d-flex justify-content-end">
                    <button href="#" class="btn mx-1 btn-primary">Like</button>
                    {{!-- modal trigger for comments --}}
                    <button 
                        href="#" 
                        class="btn mx-1 btn-primary" 
                        data-bs-toggle="modal" 
                        data-bs-target="#exampleModalCenter">
                        Comment
                    </button>
                    <button type="button" id="deletebutton" value="{{this.id}}" class="btn btn-primary">Delete</button>
                </div>
            </div>
            <h4 class="card-header align-items-center d-flex justify-content-between">
                    <div>
                    {{post.user.comment_text}}
                    </div>
                    </h4>
        </div>



    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModalCenter"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Let <strong>{{post.user.user_name}}</strong> know what you think of: <strong>{{post_title}}</strong></h5>
            <img id="logo" src="/assets/images/Beep-Post.jpg">
          </div>
          <div class="modal-body">
<form id="comment-form">
  <div class="form-group">
    <input type="hidden" name="post-id" id="post_id" value="{{post.id}}"/>
    <label for="commentInstruction"></label>
    <input type="string" class="form-control" id="commentInput" aria-describedby="comment" placeholder="Comment Here">
  </div>
  <div class="d-flex justify-content-end">
  <button type="submit" class="btn btn-primary mt-3 pull-right">Submit</button>
  </div>
</form>
          </div>
          <div class="modal-footer">
            <p class="escape fs-10">Click outside the window to cancel</p>
          </div>
        </div>
      </div>
    </div>

    {{/each}}
